

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

{#              <li>#}
{#                <a target="_blank" rel="noopener noreferrer" class="account">#}
{#                  شرکت کاوان ریل صنعت نیرو#}
{#                </a>#}
{##}
{##}
{#              </li>#}

            </ul>
          </nav>
          <div class="copyright float-right">
              Developed by &copy;<a target="_blank" rel="noopener noreferrer"
                      href="https://algorithmeg.com">MohammadReza Kazemnejad</a>
                       {{ version }}

          </div>
        </div>
    </footer>
